## 0.Import and package installation

In [ ]:
# Import libraries and modules
import pandas as pd
import numpy as np

In [ ]:
# install package
pip install pandas

In [ ]:
# Search Packages
https://pypi.org/

## 1.Pandas Series vs Julia Array DataFrame comparison

In [ ]:
# Pandas series vs Julia vector
s = pd.Series(['a', 'b', 'c'], index=[0 , 1, 2])

In [ ]:
# Get first element of array or Series
s[0]

In [ ]:
# Pandas vs Julia DataFrame
df = pd.DataFrame(
    {'col_1': [11, 12, 13],
     'col_2': [21, 22, 23]},
    index=[0, 1, 3])

In [ ]:
# Create random DataFrame
import numpy as np
import pandas as pd
data=np.random.randint(0,10,size=(10, 3))
df = pd.DataFrame(data, columns=list('abc'))

## 2.Import Data Julia vs Pandas

In [ ]:
# Read CSV file
df = pd.read_csv('file.csv')

In [ ]:
# Read JSON file
pd.read_json('file.json')

In [ ]:
# Read data from URL
pd.read_csv('https://example.com/file.csv')

In [ ]:
# Read delimited file
df = pd.read_fwf('delim_file.txt')

## 3.Data export - Pandas vs Julia

In [ ]:
# Writes to a CSV file
df.to_csv('file.csv')

In [ ]:
# Writes to a file in JSON format
df.to_json(filename)

## 4.Statistics, samples and summary of the data

In [ ]:
# First n rows
df.head(6)

In [ ]:
# Last n rows
df.tail(6)

In [ ]:
# Summary statistics
df.describe()

In [ ]:
# Describe columns
df.loc[:, :'a'].describe()

In [ ]:
# Statistical functions
df['A'].mean()

## 5.Select data by index, by label, get subset

In [ ]:
# Select first N rows - all columns
df.loc[1:3, :]

In [ ]:
# Select rows by index
df.loc[[1, 2, 3], :]

In [ ]:
# Select columns by name(copy)
df.loc[:, ['a', 'b']].copy()

In [ ]:
# Select columns by name(reference)
df.loc[:, ['a']]

In [ ]:
# Subset rows and columns
df.loc[1:3, ['b', 'a']]

In [ ]:
# Reverse selection
df.loc[[3,1], ['b', 'a']]

In [ ]:
# Select NaN values
df[df['a'].isna()]

In [ ]:
# Select non NaN values
df['a'].dropna()

## 6.Add new columns and rows

In [ ]:
# Add new column based on other column
df['new col'] = df['col'] * 100

In [ ]:
# Add new column single value
df['new col'] = False

In [ ]:
# Add new row at the end of DataFrame
df.loc[-1] = [1, 2, 3]

In [ ]:
# add rows from DataFrame to existing DataFrame
df.append(df2, ignore_index = True)

## 7.Drop data from DataFrame

In [ ]:
# (Series) Drop values from Series by index (row axis)
s.drop(1)

In [ ]:
# (Series) Drop values from Series by index (row axis)
s.drop([1, 2])

In [ ]:
# Drop column by name col_1 (column axis)
df.drop('b' , axis=1)

In [ ]:
# Drops all rows that contain null values
df.dropna()

In [ ]:
# Drops all rows that contain null values
df.dropna()

In [ ]:
# Drops all columns that contain null values
df.dropna(axis=1)

## 8.Sorting and rank values in Pandas vs Julia

In [ ]:
# sort array of values
sorted([2,3,1])

In [ ]:
# sort in reverse order
sorted([2,3,1], reverse=True)

In [ ]:
# sort DataFrame by column
df['a'].sort_values()

In [ ]:
# sort DataFrame by multiple columns
df.sort_values(['a', 'b'], ascending=[False, True])

## 9.Filter data based on multiple criteria

In [ ]:
# find columns with na
df.loc[:, df.isna().any()]

In [ ]:
# Values greater than X
df[df['col_1'] > 100]

In [ ]:
# Filter Multiple Conditions - & - and; | - or
df[(df['a']=='a')&(df['b']>=10)]

In [ ]:
# filter by sting value
df[df['a'] == 'test']

In [ ]:
# combine conditions
df[(df['a'] == 'test') & (df['b'] == 'a2') ]

## 10.Group by and summarize data

In [ ]:
# Group by single column
df.groupby('a')

In [ ]:
# group by multiple columns and sum third
df.groupby(['a', 'b']).c.sum()

In [ ]:
# group by and count
df['a'].value_counts()

## 11.Convert to date, string, numeric

In [ ]:
# replace NA values
df['a'].fillna(0)

In [ ]:
# convert .. to NA
df.replace('..', None)

In [ ]:
# convert string to int
df['col_1'].astype('int64')

In [ ]:
# convert string to date
pd.to_datetime(df['date'], format='%Y-%m-%d')